# CRE:
###############################################################################
### REQUIRED ENVIRONMENT VARIABLES - SENSITIVE INFORMATION                  ###
### DO NOT STORE RAW SECRETS HERE IN PLAINTEXT IF AVOIDABLE                 ###
### DO NOT UPLOAD OR SHARE THIS FILE UNDER ANY CIRCUMSTANCES                ###
###############################################################################
# Ethereum private key or 1Password reference (e.g. op://vault/item/field)
CRE_ETH_PRIVATE_KEY=<YOUR_PRIVATE_KEY_GOES_HERE>
# Profile to use for this environment (e.g. local-simulation, production-settings, staging-settings) - Do not change for demo.
CRE_TARGET=staging-settings

# Chainlink Confidential AI Attester:
# API key for the inference provider
INFERENCE_API_KEY_VAR=<YOUR_INFERENCE_API_KEY_GOES_HERE>